/* Header */

header .dropdown-menu{
    margin: .5rem 0 0; 
}
header .megamenu{
    position: static !important;
}
header .megamenu>div{
    margin: 0;
    width: 100%;
}
header .animated{
    z-index: 900;
}
header .dropdown-header{
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
}
header .dropdown-toggle.withbadge{
    position: relative;
}
header .dropdown-toggle.withbadge::after{
    border: none;
    width :4px;
}
header .dropdown-toggle .badge{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1500;
}

/* Waves effect */


.pulse {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: inherit;
    -webkit-animation-name: sonar;
            animation-name: sonar;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  [class*="b-s-"] .sonar {
    border-style: inherit;
  }
  [class*="b-w-"] .sonar {
    border-width: inherit;
  }
  @-webkit-keyframes sonar {
    0% {
      -webkit-transform: scale(15);
              transform: scale1);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
      opacity: 0.5;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0.15;
    }
    75% {
      -webkit-transform: scale(1.75);
              transform: scale(1.75);
      opacity: 0.2;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.0;
    }
  }
  @keyframes sonar {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.05;
    }
    50% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
      opacity: 0.15;
    }
    75% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0.2;
    }
    100% {
      -webkit-transform: scale(1.75);
              transform: scale(1.75);
      opacity: 0.0;
    }
  }

  /* */
@media (min-width: 992px) {
    .dropdown-menu.double{
        min-width: 20rem
    };
    .dropdown-menu.triple{
        min-width: 30rem
    };
    .dropdown-menu.full{
        min-width: 100%
    };
    .dropdown-menu.demi{
        min-width: 50%
    };
    .dropdown-menu.tiers{
        min-width: 33.333333%;
    };
    .dropdown-menu.tiquarters{
        min-width: 25%
    };
}
